extends ./layout/index

//-agregar este contenido en el block contenido (identacion)
block contenido
    h1(class="mt-5 text-center") #{pagina} 
    main.container.mt-5 
        //-parcial 
        include ./layout/bloque_viajes